<div class="row">
    <div class="col-md-8">
        <div class="form-group">
            <input type="text" class="form-control" id="pesquisar" name="pesquisar" placeholder="Digite o nome" />
            <small>Mensagem de erro.</small>
        </div>
    </div>
    <div class="col-md-3">
        <button type="submit" value="Index"
                class="btn btn-default btn-theme-orange btn-block btn-outline">
            Pesquisar
        </button>
    </div>
    <div class="col-md-1">
        <button class="material-icons btn btn-default btn-block btn-theme-orange" style="text-transform: none;" asp-action="Edit">add</button>
    </div>

    
</div>

<div class="row">
    <div class="col-md-12">

        <!-- Alerta Sucesso -->
        @if ((bool)ViewBag.existSucess)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Sucesso!</strong> Usar para mensagens de sucesso.
            </div>
        }

        <!-- Alerta Error -->
        @if ((bool)ViewBag.existError)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Erro!</strong> @ViewBag.msgError
            </div>
        }
        <!-- Tabelas -->

        <div class="tabelas table-responsive">
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Data do Pedido</th>
                        
                        <th>Quantidade</th>
                        <th width="10%">Ações</th>
                    </tr>
                    @foreach (PedidoProduto.Entities.Pedido item in (List<PedidoProduto.Entities.Pedido>)ViewBag.pedidos)
                    {
                <tr>
                    <th scope="row">@item.ID</th>

                    <td> @item.Cliente.nome</td>
                    <td> @item.dataPedido</td>
                    
                    <td> @item.total</td>
                    <td>
                        <button class="material-icons" style="border: 0px; background-color: transparent;" asp-action="Edit" asp-route-id="@item.ID">edit</button>
                        <button class="material-icons" style="border: 0px; background-color: transparent;" asp-action="Index" asp-route-id="@item.ID">delete_forever</button>
                    </td>
                </tr>
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>



<script type="text/javascript">
          function Edit(item)
          {
              item.inEdition = true;
          //window.location.href = @Url.Action("Edit", "Pedidos", new { @id = 1 });
        }

        
</script>

